@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
body{
    background-color: black;
}
div#textarea{
    font-family: 'DotGothic16',sans-serif;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    color: white;
    
}
img.monster{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div#effect{
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
}
